@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #073b4c !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #073b4c !important;
  border-color: #073b4c !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #010506 !important;
  border-color: #010506 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #010506 !important;
  border-color: #010506 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #073b4c;
  border-color: #073b4c;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #073b4c !important;
  border-color: #073b4c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #073b4c !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #073b4c;
  border-color: #073b4c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #073b4c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #4ac6ee;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #073b4c;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #073b4c;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #073b4c;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #073b4c;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #073b4c;
  border-bottom-color: #073b4c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #073b4c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23073b4c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-s0ArKqvA4L .navbar {
  padding: .5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 50px;
}
.cid-s0ArKqvA4L .navbar-fixed-top {
  padding-top: 0;
}
.cid-s0ArKqvA4L .navbar-collapse {
  -ms-flex-preferred-size: auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
.cid-s0ArKqvA4L .dropdown-item {
  padding: 0;
}
.cid-s0ArKqvA4L .dropdown-menu {
  border: 0px solid lightgray;
  background: #ffffff !important;
}
.cid-s0ArKqvA4L .menu-content-top {
  max-width: 1200px;
  display: none;
  padding: 0 2rem;
  margin: auto;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  overflow: hidden;
  transition: min-height 0.25s ease-in-out;
}
.cid-s0ArKqvA4L .menu-bottom {
  margin: auto;
  width: 100%;
  background: #ffffff;
  display: flex;
  padding: 0 2rem;
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s0ArKqvA4L .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-s0ArKqvA4L a {
  font-style: normal;
}
.cid-s0ArKqvA4L .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-s0ArKqvA4L .nav-item a {
  padding: 0.5rem 0 !important;
  margin: 0 .5rem !important;
}
.cid-s0ArKqvA4L .dropdown-item:before {
  font-family: MobiriseIcons !important;
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s0ArKqvA4L .content-text {
  margin-bottom: 0;
}
.cid-s0ArKqvA4L .navbar-nav {
  position: relative;
  min-height: 49px;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-s0ArKqvA4L .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #073b4c;
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-s0ArKqvA4L .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
}
.cid-s0ArKqvA4L .navbar-nav .nav-item span {
  padding-right: 0;
}
.cid-s0ArKqvA4L .navbar-nav .nav-item a {
  margin: 0 1.3rem !important;
}
.cid-s0ArKqvA4L .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-s0ArKqvA4L .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-s0ArKqvA4L .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-s0ArKqvA4L .navbar-buttons.mbr-section-btn {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s0ArKqvA4L .nav-dropdown .link {
  font-weight: 400;
}
.cid-s0ArKqvA4L .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-s0ArKqvA4L .content-right-side {
  text-align: center;
}
.cid-s0ArKqvA4L .content-right-side .content-link {
  margin-left: 2rem;
}
.cid-s0ArKqvA4L .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
.cid-s0ArKqvA4L .widget-icon {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.65rem;
}
.cid-s0ArKqvA4L .info-widget {
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-right: 3rem;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.cid-s0ArKqvA4L .menu-content-right {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s0ArKqvA4L .menu-content-right .info-widget:last-child {
  padding-right: 0;
}
.cid-s0ArKqvA4L .menu-content-right .info-widget:first-child {
  padding-left: 0;
  border-left: none;
}
.cid-s0ArKqvA4L .widget-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.cid-s0ArKqvA4L .widget-content .widget-title {
  font-weight: 600;
  margin-bottom: 7px;
}
.cid-s0ArKqvA4L .widget-content .widget-text {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .cid-s0ArKqvA4L .navbar .menu-content-top {
    display: flex;
    min-height: 83px;
    height: 100%;
  }
  .cid-s0ArKqvA4L .content-right-side {
    text-align: right;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-s0ArKqvA4L .menu-content-top {
    border-bottom: 0px solid rgba(0, 0, 0, 0.12);
  }
  .cid-s0ArKqvA4L .navbar {
    display: block;
    padding: 0;
  }
  .cid-s0ArKqvA4L .navbar .menu-logo {
    margin-right: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-s0ArKqvA4L .navbar:not(.navbar-short) .navbar-collapse {
    max-height: calc(100vh - 5.2rem - 4.5rem);
  }
  .cid-s0ArKqvA4L .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    z-index: 101;
    min-height: 49px;
  }
  .cid-s0ArKqvA4L .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    width: 16px;
  }
  .cid-s0ArKqvA4L .navbar-toggler {
    display: none;
  }
  .cid-s0ArKqvA4L .navbar-collapse {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-s0ArKqvA4L .navbar-short .menu-content-top {
  height: 0;
  min-height: 0;
  border: none;
}
.cid-s0ArKqvA4L .btn {
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s0ArKqvA4L .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-s0ArKqvA4L .menu-logo {
  margin-right: auto;
}
.cid-s0ArKqvA4L .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s0ArKqvA4L .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-s0ArKqvA4L .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-s0ArKqvA4L .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-s0ArKqvA4L .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-s0ArKqvA4L .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-s0ArKqvA4L .navbar-toggleable-sm .navbar-collapse {
  width: auto;
}
.cid-s0ArKqvA4L .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
}
.cid-s0ArKqvA4L .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-s0ArKqvA4L .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-s0ArKqvA4L .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-s0ArKqvA4L .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-s0ArKqvA4L .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s0ArKqvA4L .dropdown .dropdown-menu .dropdown-item::after {
  right: -0.5rem;
}
.cid-s0ArKqvA4L .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-s0ArKqvA4L .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s0ArKqvA4L .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-s0ArKqvA4L .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-s0ArKqvA4L .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s0ArKqvA4L .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  z-index: 1000;
}
.cid-s0ArKqvA4L .navbar.navbar-short {
  min-height: 50px;
  transition: all .2s;
}
.cid-s0ArKqvA4L .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-s0ArKqvA4L .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-s0ArKqvA4L .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-s0ArKqvA4L .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-s0ArKqvA4L button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  margin: 1rem .8rem;
  -webkit-align-self: center;
  align-self: center;
}
.cid-s0ArKqvA4L button.navbar-toggler:focus {
  outline: none;
}
.cid-s0ArKqvA4L button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-s0ArKqvA4L button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s0ArKqvA4L button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s0ArKqvA4L button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s0ArKqvA4L button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s0ArKqvA4L nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s0ArKqvA4L nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s0ArKqvA4L nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s0ArKqvA4L nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s0ArKqvA4L .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s0ArKqvA4L .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s0ArKqvA4L .collapsed .btn {
  display: flex;
}
.cid-s0ArKqvA4L .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-s0ArKqvA4L .collapsed .navbar-collapse.collapsing,
.cid-s0ArKqvA4L .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-s0ArKqvA4L .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-s0ArKqvA4L .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-s0ArKqvA4L .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-s0ArKqvA4L .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-s0ArKqvA4L .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-s0ArKqvA4L .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-s0ArKqvA4L .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-s0ArKqvA4L .collapsed .navbar-collapse.show .navbar-buttons {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}
.cid-s0ArKqvA4L .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-s0ArKqvA4L .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-s0ArKqvA4L .collapsed .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-s0ArKqvA4L .collapsed button.navbar-toggler {
  display: block;
}
.cid-s0ArKqvA4L .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-s0ArKqvA4L .collapsed .navbar-toggleable-sm {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-s0ArKqvA4L .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-s0ArKqvA4L .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-s0ArKqvA4L .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-s0ArKqvA4L .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
.cid-s0ArKqvA4L .collapsed .menu-bottom {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-s0ArKqvA4L .navbar-collapse {
    padding-bottom: 1rem;
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-s0ArKqvA4L .navbar-collapse.collapsing,
  .cid-s0ArKqvA4L .navbar-collapse.show {
    display: block !important;
  }
  .cid-s0ArKqvA4L .navbar-collapse.collapsing .navbar-nav,
  .cid-s0ArKqvA4L .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-s0ArKqvA4L .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-s0ArKqvA4L .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-s0ArKqvA4L .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-s0ArKqvA4L .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-s0ArKqvA4L .navbar-collapse.collapsing .navbar-buttons,
  .cid-s0ArKqvA4L .navbar-collapse.show .navbar-buttons {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
  }
  .cid-s0ArKqvA4L .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-s0ArKqvA4L .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-s0ArKqvA4L .menu-bottom {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-s0ArKqvA4L img {
    height: 3.8rem !important;
  }
  .cid-s0ArKqvA4L .btn {
    display: flex;
  }
  .cid-s0ArKqvA4L button.navbar-toggler {
    display: block;
  }
  .cid-s0ArKqvA4L .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-s0ArKqvA4L .navbar-toggleable-sm {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-s0ArKqvA4L .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-s0ArKqvA4L .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-s0ArKqvA4L .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-s0ArKqvA4L .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
  .cid-s0ArKqvA4L .navbar-buttons.mbr-section-btn {
    width: 100%;
  }
  .cid-s0ArKqvA4L .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
}
.cid-s0ArKqvA4L .navbar-dropdown {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cid-s0ArKqvA4L .nav-link:focus {
  outline: none;
}
.cid-s0ArKqvA4L .navbar-toggler {
  position: relative;
}
.cid-s0ArKqvA4L .dropdown-item.active,
.cid-s0ArKqvA4L .dropdown-item:active {
  background: #ffffff;
  color: initial;
}
.cid-s0ArKqvA4L .widget-title,
.cid-s0ArKqvA4L .widget-icon {
  color: #ffffff;
}
.cid-s0ArKqvA4L .widget-text {
  color: #ffffff;
}
.cid-s0As4kaA00 .modal-body .close {
  background: #1b1b1b;
}
.cid-s0As4kaA00 .modal-body .close span {
  font-style: normal;
}
.cid-s0As4kaA00 .carousel-inner > .active,
.cid-s0As4kaA00 .carousel-inner > .next,
.cid-s0As4kaA00 .carousel-inner > .prev {
  display: table;
}
.cid-s0As4kaA00 .carousel-control .icon-next,
.cid-s0As4kaA00 .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-s0As4kaA00 .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-s0As4kaA00 .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-s0As4kaA00 .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-s0As4kaA00 .boxed-slider > div {
  position: relative;
}
.cid-s0As4kaA00 .container img {
  width: 100%;
}
.cid-s0As4kaA00 .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.cid-s0As4kaA00 .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-s0As4kaA00 .mbr-table-cell {
  padding: 0;
}
.cid-s0As4kaA00 .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-s0As4kaA00 .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: -webkit-flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-align-items: center;
}
.cid-s0As4kaA00 .mbr-overlay {
  z-index: 1;
}
.cid-s0As4kaA00 .container-slide.container {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-s0As4kaA00 .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media (max-width: 576px) {
  .cid-s0As4kaA00 .carousel-item .container {
    width: 100%;
  }
}
.cid-s0As4kaA00 .carousel-item-next.carousel-item-left,
.cid-s0As4kaA00 .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cid-s0As4kaA00 .active.carousel-item-right,
.cid-s0As4kaA00 .carousel-item-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.cid-s0As4kaA00 .active.carousel-item-left,
.cid-s0As4kaA00 .carousel-item-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.cid-s0As4kaA00 .mbr-slider .carousel-control {
  top: 50%;
  width: 70px;
  height: 70px;
  margin-top: -1.5rem;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all .3s;
}
.cid-s0As4kaA00 .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-s0As4kaA00 .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-s0As4kaA00 .mbr-slider .carousel-control .mbr-iconfont {
  font-size: 2rem;
}
@media (max-width: 767px) {
  .cid-s0As4kaA00 .mbr-slider .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-s0As4kaA00 .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-s0As4kaA00 .mbr-slider .carousel-indicators li {
  max-width: 20px;
  width: 20px;
  height: 20px;
  max-height: 20px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .5;
  transition: all .3s;
}
.cid-s0As4kaA00 .mbr-slider .carousel-indicators li.active,
.cid-s0As4kaA00 .mbr-slider .carousel-indicators li:hover {
  opacity: .9;
}
.cid-s0As4kaA00 .mbr-slider .carousel-indicators li::after,
.cid-s0As4kaA00 .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-s0As4kaA00 .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-s0As4kaA00 .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-s0As4kaA00 .mbr-slider > .container img {
  width: 100%;
}
.cid-s0As4kaA00 .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-s0As4kaA00 .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-s0As4kaA00 .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-s0As4kaA00 .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-s0As4kaA00 .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-s0As4kaA00 .carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}
.cid-s0As4kaA00 .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-s0As4kaA00 .full-screen .slider-fullscreen-image.active {
  display: -o-flex;
}
.cid-s0As4kaA00 .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-s0As4kaA00 .full-screen .carousel-item .container.container-slide {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-s0As4kaA00 .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-s0As4kaA00 .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-s0As4kaA00 .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-s0As4kaA00 P {
  color: #149dcc;
}
.cid-s0As4kaA00 H2 {
  color: #149dcc;
}
.cid-s0AwE69dBS {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-s0AwE69dBS .count {
  text-align: left;
  word-break: inherit;
}
.cid-s0AwE69dBS .mbr-section-subtitle {
  color: #8d97ad;
}
.cid-s0AwE69dBS .mbr-content-title {
  color: #8d97ad;
}
.cid-s0AwE69dBS .panel-item {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-s0AwE69dBS .card {
  word-wrap: break-word;
}
.cid-s0AwE69dBS .mbr-iconfont {
  font-size: 50px;
  color: #232323;
  padding-right: 1rem;
}
@media (max-width: 991px) {
  .cid-s0AwE69dBS .panel-item {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-s0Ax1sXlSp {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-s0Ax1sXlSp .mbr-text {
  margin: 0;
}
.cid-s0Ax1sXlSp .text-element {
  padding: 2rem;
  background-color: #ffffff;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
}
.cid-s0Ax1sXlSp .row-element,
.cid-s0Ax1sXlSp .image-element {
  padding: 0;
}
.cid-s0Ax1sXlSp .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s0Ax1sXlSp .image-element .img-wrap {
  width: 100% !important;
}
.cid-s0Ax1sXlSp .image-element .img-wrap img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-s0Ax1sXlSp .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s0Ax1sXlSp .carousel-item.active,
.cid-s0Ax1sXlSp .carousel-item-next,
.cid-s0Ax1sXlSp .carousel-item-prev {
  display: flex;
}
.cid-s0Ax1sXlSp .carousel-indicators {
  left: 50%;
  margin: 20px auto 0;
  align-items: center;
}
.cid-s0Ax1sXlSp .carousel-indicators .active {
  opacity: 1;
  border: 0;
  background-color: #073b4c;
}
.cid-s0Ax1sXlSp .carousel-indicators li {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  transition: opacity .5s;
  background-color: #000000;
  font-size: 2rem;
  opacity: .5;
  border-width: 0px;
}
.cid-s0Ax1sXlSp .carousel-indicators li:hover {
  opacity: 1;
}
.cid-s0Ax1sXlSp .carousel-controls {
  display: none;
}
@media (max-width: 991px) {
  .cid-s0Ax1sXlSp .carousel-controls {
    display: block;
  }
  .cid-s0Ax1sXlSp .carousel-controls a {
    transition: opacity .5s;
    font-size: 2rem;
  }
  .cid-s0Ax1sXlSp .carousel-controls a span {
    padding: 10px;
    border-radius: 50%;
    color: #ffffff;
    background: #444444;
    opacity: .9;
  }
  .cid-s0Ax1sXlSp .carousel-controls a:hover span {
    opacity: 1;
  }
  .cid-s0Ax1sXlSp .carousel-indicators {
    display: none;
  }
}
@media (max-width: 540px) {
  .cid-s0Ax1sXlSp .text-element {
    padding: 1rem;
  }
  .cid-s0Ax1sXlSp .carousel-controls {
    display: none;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s0Ax1sXlSp .image-element {
    min-width: 50%;
  }
  .cid-s0Ax1sXlSp .media-container-row {
    width: 100%;
  }
}
.cid-s0AAlsxeDJ {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #081b43;
}
.cid-s0AAlsxeDJ h4 {
  font-weight: 600;
  color: #e2e2e2;
}
.cid-s0AAlsxeDJ .mbr-section-subtitle {
  color: #767676;
}
.cid-s0AAlsxeDJ .article {
  padding-right: 2rem;
  padding-left: 2rem;
}
@media (min-width: 768px) {
  .cid-s0AAlsxeDJ .article-right-border {
    border-right: 2px dotted #e2e2e2;
  }
}
.cid-s0AAlsxeDJ .mbr-text-right {
  color: #c1c1c1;
}
.cid-s0AAlsxeDJ H2 {
  color: #ffffff;
}
.cid-s0AAlsxeDJ .article-title-left {
  color: #ffffff;
}
.cid-s0AAlsxeDJ .article-title-right {
  color: #ffffff;
}
.cid-s0AAlsxeDJ .mbr-text-left {
  color: #cccccc;
}
.cid-s0AAFZlXd9 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-s0AAFZlXd9 .mbr-iconfont {
  font-size: 1.1rem;
  color: #232323;
  padding: 0 0.5rem;
  transition: color 0.3s;
}
.cid-s0AAFZlXd9 .mbr-iconfont:hover {
  color: #777777;
}
.cid-s0AAFZlXd9 .card-img {
  position: relative;
  overflow: hidden;
}
.cid-s0AAFZlXd9 a {
  font-weight: 600;
}
.cid-s0AAFZlXd9 .card-img:before {
  content: '';
  display: block;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  left: 0;
  background-color: #232323;
  opacity: 0;
  transform-origin: right center 0;
  transform: perspective(100px) rotateY(-120deg);
  transform-style: flat;
  transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;
}
.cid-s0AAFZlXd9 .card-box {
  padding: 2rem 1rem;
  background-color: #ffffff;
  width: 80%;
  margin: auto;
  margin-top: -25%;
  position: relative;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cid-s0AAFZlXd9 .card-box h3 {
  font-weight: 600;
  width: 100%;
  display: inline-block;
  margin: 0;
}
.cid-s0AAFZlXd9 .card-wrapper {
  height: 100%;
}
.cid-s0AAFZlXd9 .card-wrapper:hover .card-img:before {
  opacity: 0.3;
  transform: perspective(100px) rotateY(0deg);
}
.cid-s0AAFZlXd9 .text {
  color: #767676;
}
.cid-s0AAFZlXd9 .card-subtitle {
  color: #ff3366;
}
.cid-s0AyQoxflj {
  padding-top: 0px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-s0AyQoxflj .google-map {
  height: 25rem;
  position: relative;
}
.cid-s0AyQoxflj .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-s0AyQoxflj .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-s0AyQoxflj .google-map[data-state] {
  background: #e9e5dc;
}
.cid-s0AyQoxflj .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-s0AyQoxflj .wrapper {
  margin-top: -10rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  border-radius: .25rem;
}
.cid-s0AyQoxflj .form-container {
  padding: 3rem;
}
.cid-s0AyQoxflj .row {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.cid-s0AyQoxflj .content-panel {
  padding: 2rem;
  background: linear-gradient(45deg, #149dcc, #073b4c);
  height: 100%;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  overflow: hidden;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-s0AyQoxflj .mbr-text {
  color: #efefef;
}
@media (min-width: 992px) {
  .cid-s0AyQoxflj .form-group,
  .cid-s0AyQoxflj .input-group-btn {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
.cid-s0AyQoxflj .form-control {
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  min-height: 40px;
  padding: .5rem 1rem;
  background-color: #ffffff;
  border: 1px solid #efefef;
  color: #565656;
  border-radius: .25rem;
  font-size: 1rem;
  line-height: 1.43;
}
.cid-s0AyQoxflj .form-control:focus,
.cid-s0AyQoxflj .form-control:hover {
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
}
.cid-s0AyQoxflj textarea.form-control {
  min-height: 170px;
}
.cid-s0AyQoxflj .form-group {
  margin-bottom: 1rem;
}
.cid-s0AyQoxflj input::-webkit-input-placeholder,
.cid-s0AyQoxflj textarea::-webkit-input-placeholder {
  color: #565656;
}
.cid-s0AyQoxflj input:-moz-placeholder,
.cid-s0AyQoxflj textarea:-moz-placeholder {
  color: #565656;
}
.cid-s0AyQoxflj .jq-selectbox li,
.cid-s0AyQoxflj .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-s0AyQoxflj .jq-selectbox li:hover,
.cid-s0AyQoxflj .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-s0AyQoxflj .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-s0AyQoxflj .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-s0AyQoxflj .main-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-s0AyQoxflj .text-block {
    margin-bottom: 2rem;
  }
  .cid-s0AyQoxflj .wrapper {
    margin-top: 0;
  }
}
.cid-s0AyQoxflj .social-list {
  margin-top: auto;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-s0AyQoxflj .social-list .mbr-iconfont-social {
  font-size: 1.2rem;
  color: #fff;
}
.cid-s0AyQoxflj .social-list .mbr-iconfont:before {
  padding: .5rem;
  border: 2px solid;
  border-radius: 100px;
}
.cid-s0AyQoxflj .social-list .soc-item {
  margin: 15px 3px 0px 3px;
}
.cid-s0AyQoxflj .social-list a {
  margin: 0;
  opacity: .7;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-s0AyQoxflj .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-s0AyQoxflj .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-s0ABNnsYDl {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-s0ABNnsYDl .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-s0ABNnsYDl .media-wrap .mbr-iconfont-logo {
  font-size: 7rem;
  color: #f36;
}
.cid-s0ABNnsYDl .media-wrap img {
  height: 6rem;
}
.cid-s0ABNnsYDl .mbr-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-s0ABNnsYDl .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-s0ABNnsYDl .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: .05;
}
.cid-s0ABNnsYDl .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-s0ABNnsYDl .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-s0ABNnsYDl .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-s0ABNnsYDl .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-s0ABNnsYDl .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-s0ABNnsYDl .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
